# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual env
.venv/
venv/
ENV/
env/

# Build / packaging
build/
dist/
*.egg-info/

# OS
.DS_Store
Thumbs.db

# Outputs
out/
*.mp4
*.mov
*.avi
*.mkv
*.csv
*.json